.router-link-active{
  background-color: #005ebf;
}
.nav-sidebar > .nav-item > .nav-link:focus {
  background-color: #005ebf !important;
  color: #ffffff;
}
[class*='sidebar-dark-'] .nav-treeview > .nav-item > .nav-link:focus {
  background-color: #005ebf !important;
  color: #ffffff;
}